name: build

on:
  workflow_dispatch:

  push:
    branches:
      - main

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - run: docker run -v "$(pwd):/data" --privileged alpine sh -c "apk add alpine-make-rootfs && cd /data && ./build.sh"

      - uses: oras-project/setup-oras@v1

      - run: echo "${{ secrets.GITHUB_TOKEN }}" | oras login ghcr.io -u ${{ github.actor }} --password-stdin

      - run: |
          REPO=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          for src in ./out/initramfs-*; do
            variant=$(basename "$src" | sed 's/initramfs-//')
            echo "Pushing variant: $variant"
            ln -sf "$src" /tmp/initramfs
            oras push --disable-path-validation ghcr.io/$REPO:$variant ./out/vmlinuz /tmp/initramfs
          done
