name: build

on:
  workflow_dispatch:

  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - run: echo "time=$(date +'%d-%m-%Y')" >> $GITHUB_ENV

      - run: docker run -v "$(pwd):/data" --privileged alpine sh -c "apk add alpine-make-rootfs && cd /data && ./build.sh"

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: build-${{ github.run_id }}
          name: ${{ env.time }}
          files: ./out/*
