name: build

on:
  workflow_dispatch:

  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    secrets: inherit
    uses: ./.github/workflows/builder.yml
    permissions:
      packages: write
    strategy:
      matrix:
        runner: [ubuntu-24.04, ubuntu-24.04-arm]
    with:
      runner: ${{ matrix.runner }}

  index:
    needs: build
    secrets: inherit
    uses: ./.github/workflows/indexer.yml
    permissions:
      packages: write
